.text2{
    color:#D3D4D7;
  }.xyz{
    background-color: #FE4D69;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 100px; 
    /* transition-duration: 0.4s; */
    /* box-shadow: 0 8px 16px 0 rgba(243, 239, 239, 0.99), 0 6px 5px 0 rgba(236, 234, 240, 0.19); */
  }
  
  .xyz:hover {
    /* background-color: #de5089;  */
    color: rgb(16, 16, 20);
    /* padding-bottom: 2px; */
  }
  .box{
    width: 100vw;
    height: 100vh;
  }
  .box{
    display: flex;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
    margin-bottom: 45px;
    margin-left: 40px;
    margin-right: 40px;
  }